/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  background: radial-gradient(rgba(0, 0, 0, 0.3), #000);
}

.badge {
  margin-top: 0.8em;
  font-size: 4rem;
  text-align: center;
  color: #fff;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.container {
  margin: 1.5em;
  display: flex;
  justify-content: center;
}

.device {
  background-color: #000;
  border: 3px solid #2f2f2f;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

header,
footer {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.notification-light {
  background-color: #adff2f;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  top: calc(2em - 3px);
}

.camera {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 4px solid rgb(132, 129, 132);
  background-color: #323232;
  position: absolute;
  left: 70px;
  top: calc(2em - 3px - 2px);
}

.speaker {
  height: 10px;
  width: 150px;
  border-radius: 15px;
  border: 3px solid #141414;
  box-shadow: inset 0 0 0 2px #323232;
}

.screen {
  width: 24em;
  min-height: 44em;
  background-image: linear-gradient(
    to bottom,
    rgb(6, 209, 229),
    rgb(119, 239, 251)
  );
  position: relative;
  display: flex;
  flex-direction: column;
}

.power-button {
  position: absolute;
  width: 5px;
  height: 48px;
  left: 24.5em;
  background-color: #000;
  top: 222px;
}

.volume-button {
  position: absolute;
  width: 5px;
  height: 96px;
  left: 24.5em;
  background-color: #000;
  top: 310px;
}

.nav {
  background-color: #000;
  height: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.nav div {
  background-color: #fff;
  height: 16px;
  width: 16px;
}

.nav .back {
  width: 0;
  height: 0;
  border-top: 8px solid #000;
  border-right: 16px solid #fff;
  border-bottom: 8px solid #000;
}

.nav .home {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  border: 1px solid #000;
}

.overview {
  border-radius: 3px;
}

@media (max-width: 25em) {
  .container {
    margin: 1em 1.5em;
  }

  .camera {
    left: 14vw;
  }

  .screen {
    width: 90vw;
  }

  .power-button,
  .volume-button {
    left: calc(90vw + 0.5em);
  }
}

.weather-app {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  background-color: #05bacc;
  border-bottom: 2px solid #05bacc;
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
}

.tab a {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  display: block;
  font-size: 0.85rem;
  position: relative;
  padding: 0.5em 1em;
}

.tab a::after {
  content: "";
  background: #fff;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.tab a:hover,
a:active {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  cursor: pointer;
}

.tab.active a {
  color: #fff;
}

.tab.active a::after {
  transform: scale(1);
}

.more .toggles {
  display: flex;
  font-size: 3rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
}

.toggles a {
  padding: 0.5em 1em;
  color: #fff;
}

.toggles a:hover {
  cursor: pointer;
}

.toggles span[disabled] {
  cursor: not-allowed;
}

.toggles span[disabled] a {
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  color: #000;
  transition: background-color 0.4s ease;
}

.daily-weather .overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.125rem;
  color: #fff;
}

.daily-weather .weather-icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.daily-weather .weather-icon .date {
  align-self: flex-end;
  font-size: 0.9rem;
  margin: 0.5em 0 0.7em;
}

.daily-weather .weather-icon .summary {
  margin: 0.5em 0 1.5em;
}

.daily-weather .weather-info {
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "max .    min"
    ".   temp .  "
    ".   app  .  ";
}

.daily-weather .max {
  grid-area: max;
}

.daily-weather .weather-info .min {
  grid-area: min;
}

.daily-weather .temp {
  display: flex;
  grid-area: temp;
  margin-top: 0.4em;
  justify-self: center;
}

.daily-weather .temp .temp-number {
  font-size: 4rem;
}

.daily-weather .temp .temp-unit {
  font-size: 2rem;
}

.daily-weather .apparent-temp {
  grid-area: app;
}

.weather-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0.1em;
  font-size: 1.125rem;
  overflow: scroll;
}

.weather-lists > .weather-panel {
  background-color: #fff;
  color: #000;
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 1em 1.5em;
  font-size: 1.1rem;
}

.weather-lists .weather-panel .overview {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather-lists .overview > span.summary {
  padding-top: 0.3em;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
}

.weather-lists .weather-panel .weather-info {
  margin-left: auto;
  display: inline-flex;
  align-content: space-between;
}

.weather-lists .weather-icon canvas {
  width: 96px;
}
.weather-lists .weather-info .temp {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.daily-weather .apparent-temp::after,
.weather-info .temp .max::after,
.weather-info .temp .min::after {
  content: "\00b0";
}

.weather-lists .weather-info .temp .min {
  color: rgba(0, 0, 0, 0.8);
}
